<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新增模块</title>
<link rel="stylesheet" th:href="@{../../lib/layui/css/layui.css}" />
</head>
<div class=" layui-main ">
	<form class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label">模块名 ：</label>
			<div class="layui-input-inline">
				<input type="text" name="modelname" id="modelname"   lay-verify="required"
					placeholder="请输入模块名" autocomplete="off" class="layui-input"
				   style="width: 300px">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">项目名：</label>
			<div class="layui-input-inline">
				<select name="projectId" id="projectId" lay-verify="required" lay-filter="projectId">
					<option value="">请选择</option>
					<option th:selected="${projectId  eq project.id}"
						th:each="project : ${projectList}" th:value="${project.id}"
						th:text="${project.projectName}"></option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">测试人员：</label>
			<div class="layui-input-inline">
				<select name="testId" id="testId" lay-verify="required" lay-filter="testId">
					<option value="">请选择</option>
					<option th:selected="${testId  eq test.id}"
						th:each="test : ${testList}" th:value="${test.id}"
						th:text="${test.cnName}"></option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">开发人员：</label>
			<div class="layui-input-inline">
				<select name="devId" id="devId" lay-verify="required" lay-filter="devId">
					<option value="">请选择</option>
					<option th:selected="${devId  eq dev.id}"
						th:each="dev : ${devList}" th:value="${dev.id}"
						th:text="${dev.cnName}"></option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">模块描述：</label>
			<div class="layui-input-inline">
				<input type="text" name="modeldesc" id="modeldesc" 
					placeholder="请输入模块描述" autocomplete="off" class="layui-input"
				 style="width: 300px">
			</div>
		</div>
	<!-- 	<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<div class="layui-input-inline">
				<input type="checkbox" name="status" id="status" title="状态" lay-skin="primary"
					checked>
			</div>
		</div> -->
		<br>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button lay-submit lay-filter="add" type="button" class="layui-btn">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript" src="../../lib/layui/layui.js"></script>
<script type="text/javascript" src="../../js/sys/addModel.js"></script>
</body>
</html>
