<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>用例信息</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../../lib/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css"
	media="all" />

</head>
<body>
	<div class="layui-form-item">
		<div class="layui-input-inline">
			<input class="layui-input" id="casename" autocomplete="off"
				placeholder="用例名">
		</div>
		<div class="layui-input-inline" style="width: 100px;">
			<select class="layui-input" name="projectId" id="projectId" lay-verify="required" lay-filter="projectId">
					<option value="">项目名</option>
					<option th:selected="${projectId  eq project.id}"
						th:each="project : ${projectList}" th:value="${project.id}"
						th:text="${project.projectName}"></option>
			</select>
		</div>
		<div class="layui-input-inline" style="width: 100px;">
			<select class="layui-input" name="modelId" id="modelId" lay-verify="required" lay-filter="modelId">
					<option value="">模块名</option>
					<option th:selected="${modelId  eq model.id}"
						th:each="model : ${modelList}" th:value="${model.id}"
						th:text="${model.modelName}"></option>
			</select>
		</div>
		<div class="layui-input-inline">
			<input class="layui-input" id="api" autocomplete="off"
				placeholder="api">
		</div>
		<div class="layui-input-inline" style="width: 100px;">
			<input class="layui-input" id="version" autocomplete="off"
				placeholder="版本">
		</div>
		<div class="layui-input-inline" style="width: 100px;">
			<select class="layui-input" name="status" lay-verify="">
				<option value="">状态</option>
				<option value="0">False</option>
				<option value="1">True</option>
			</select>
		</div>
		<button class="layui-btn" data-type="reload">搜索</button>
	</div>
	<!-- 动态表格 -->
	<table id="testCase" lay-filter="test"></table>
	<!-- 头部按钮 -->
	<script type="text/html" id="toolbarDemo">
 	 <div class="layui-btn-container">
     <button class="layui-btn layui-btn-sm" lay-event="add"  data-toggle="modal" data-target="#myModal"> <i class="layui-icon">&#xe608;</i>添加</button>
     <button class="layui-btn layui-btn-sm" lay-event="delete"> <i class="layui-icon">&#xe640;</i>删除</button>
      <button class="layui-btn layui-btn-sm" lay-event="update"><i class="layui-icon">&#xe642;</i>编辑</button>
	 <button class="layui-btn layui-btn-sm" lay-event="buildscript">生成脚本</button>
   </div>
	</script>



</body>
<script src="../../lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
<script src="../../lib/layui/layui.js"></script>
<script src="../../lib/layui/layui.all.js"></script>
<script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
<script src="../../js/sys/testCase.js"></script>
</html>
